*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-x: hidden;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.header-box {
    width: 1120px;
    height: 59px;
    max-width: 1120px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text, .footer-logo-text{
    text-decoration: none;
    color: #13183f;
    font-weight: 900;
    font-size: 27px;
}

.get-start-buttom, .footer-get-start-buttom{
    cursor: pointer;
    border: none;
    background-color: #13183f;
    border-radius: 28px;
    width: 169px;
    height: 59px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}


/* აქ იწყება ძირითადი ნაწილის გასტილვა */

.main-box{
    background: linear-gradient(#ffffff, #f0f1ff);
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.first-section{
    width: 1120px;
    height: 560px;
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-div-box{
    width: 544px;
    height: 339px;
}

.first-div-box-h1{
    color: #13183f;
    font-weight: 800;
    font-size: 60px;
}


.first-div-box-p{
    color: #83869a;
    font-weight: 500;
    font-size: 25px;
    margin-top: 24px;
    margin-bottom: 27px;
}


.first-div-box-get-start-buttom{
    cursor: pointer;
    border: none;
    border-radius:28px;
    width: 168px;
    height: 59px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    background: linear-gradient(#FF6F48, #F02AA6);
}

.second-div-box{
    width: 544px;
    height: 560px;
    position: relative;
    z-index: 2;
}


.image-box{
    display: flex;
    width: 317px;
    height: 560px;
    border-radius: 158.5px;
    background: linear-gradient(#FF6F48, #F02AA6);
    margin-left: 168px;
    overflow: hidden;
    align-items: flex-end;
    z-index: 2;
}
.image-box img {
        width: 349.47px;
        height: 483px;
        object-fit: contain;

    }

.diagonal-div-box{
    position: absolute;
    background: linear-gradient(#4851ff, #f02aa6);
    width: 317px;
    height: 1008px;
    border-radius: 158.5px;
    transform: rotate(45deg);
    z-index: -1;
    top: -345px;
    left: 413px;
    
}

.price-container{
    display: flex;
    gap: 180px;
    top: 350px;
    left: 60px;
    position: absolute;    
}


.price-one ,  .price-two{
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.158);

}

.price-one{
    width: 199px;
    height: 120px;
}

.price-two{
    width: 155px;
    height: 120px;
    transform: translateY(-220px);
}


.price-hearder{
    font-weight: 700;
    color: #83869a;
    font-size: 16px;
    margin: 20px 20px 3px 24px;

}
.price{
    font-weight: 800;
    font-size: 40px;
    margin: 3px 20px 10px 24px;

}

.second-section{
    width: 1120px;
    height: 756px;
    max-width: 1120px;
    margin-top: 64px;
    margin-bottom: 144px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px;
}

.box{
    width: 352px;
    height: 322px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 30px;

}



.second-section-div-box1{
    width: 352px;
    height: 322px;
    border-radius: 15px;
    margin-top: 30px;

    background: linear-gradient(#ff6f48, #f02aa6);
     >p{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 40px;
    margin: 64px 32px 144px 32px;
}
}

.second-section-small-boxes{
    width: 288px;
    height: 218px;
    margin: 36px 32px 40px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.small-box-hearder{
    color: #13183f;
    font-weight: 800;
    font-size: 35px;
}

.small-box-paragraph{
    color: #83869a;
    font-weight: 500;
    font-size: 20px;
}

.small-box-span{
    color: #f74780;
    font-weight: 700;
    font-size: 20px;
}

.circles-small{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: linear-gradient(#ff6f48, #f02aa6);
    margin-left: 32px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;

}

.footer-box{
    border: 3px solid black;
    width: 100%;
    height: 107px;
    background-color: #13183f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div-box {
    width: 1120px;
    height: 59px;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-text{
    color: #ffffff;
}

.footer-get-start-buttom{
background: linear-gradient(#4851ff, #f02aa6);
}
