*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #19a1ae;
    overflow: hidden;
}

.main-div-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-div-card{
    width: 350px;
    height: auto;
    border-radius: 15px;
    position: relative;
}

.profile-div-card-headre{
    background: linear-gradient(135deg, #0989b4 10%, #53ffee 25%,  #0989b4 40%, #53ffee 70%, #0989b4 90%);
    width: 100%;
    height: 144px;
    border-radius: 15px 15px 0px 0px;
}

.profile-div-card-footer{
    background-color:#fff ;
    width: 100%;
    height: 230px;
    border-radius: 0px 0px 15px 15px;
}

.profile-div-card-photo{
    border: 5px solid#ffffff;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 5; */
    >img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.first-div-circle{
    background: linear-gradient(to bottom, #0989b4, #19a1ae);
    width: 976px;
    height: 976px;
    border-radius: 50%;
    position: absolute;
    top: -70%;
    left: -80%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.second-div-circle{
    background: linear-gradient(to bottom, #0989b4, #53ffee);
    width: 976px;
    height: 976px;
    border-radius: 50%;
    position: absolute;
    top: 180%;
    left: 160%;
    transform: translate(-50%, -50%);
    z-index: -1;
}  

.name-lastname{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    position: absolute;
    top: 55%;
    left: 30%;
    >span{
        font-size: 18px;
        color: #6b7082;
    }

}

.profil-info p{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    position: absolute;
    color: #6b7082;
    top: 62%;
    left: 43%;

    }
.first-list{

    display: flex;
    justify-content: space-around;
    list-style: none;
    transform: translateY(130px);
}

.first-list li{
    text-align: center;


}
.first-list li h3{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 8px;
}

.first-list span{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    color: #6b7082;
}
